<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="SglMyConnection" value="Server=tcp:sqlserver-ec.database.windows.net,1433;Initial Catalog=AzureSqlCodeFirst;Persist Security Info=False;User ID=natlee;Password=Tindra52;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</appSettings>
</configuration>


<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="BloggingDatabase"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>-->

<!--{  // in ToDoContext
optionsBuilder.UseSqlServer(ConfigurationManager.ConnectionStrings["BloggingDatabase"].ConnectionString);
}-->