<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings >
		<add key="EndpointUri" value="https://win20-cosmos-db.documents.azure.com:443/"/>
		<add key="PrimaryKey" value="8uHPJuY1DV5LbREFh3ZpgOu5K0KqbWexHJQttpS9XZ7w5yUaw5H8w6Jn55pLcabBTQhLRCaQftnZrDhzlGfFdQ=="/>
		<add key="DatabaseName" value="ToDoList"/>
		<add key="ContainerName" value="Items"/>
	</appSettings>
</configuration>